<footer class="footer footer-center px-4 pt-4">
    <div>
        <p>Copyright © 2023 - All right reserved by <a href="https://github.com/Phoenixp655/ToDoApp" target="_blank" class="link-hover font-medium">Hoang Anh Le</a></p>
    </div>
</footer>